body {
    height: 3000px !important;
    -webkit-animation: fadein 3s; 
       -moz-animation: fadein 3s; 
        -ms-animation: fadein 3s; 
         -o-animation: fadein 3s; 
            animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.link {
    position: relative;
    top: 0;
    transition: top ease .5s;
}
.link:hover {
    top: -10px;
}
#img-col-right {
    transition: transform 0.2s;
}
#img-col-right:hover {
    transform: scale(1.05);
}

/* https://stackoverflow.com/questions/45382875/fade-in-and-out-on-button-click */

.phiElementToFadeIn {animation: fadeIn 3s linear forwards;}
.phiElementToFadeOut {animation: fadeOut 3s linear forwards;}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:.8; } 
}
@keyframes fadeOut {
    0% { opacity:.8; }
    100% { opacity:0; } 
}

